<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header col-xs-10">
                <a class="navbar-brand" href="#">Profile</a>
            </div>

            <div class="navbar-text pull-right">
                <a class="navbar-link" ng-click="model.updateUser(model.user)">
                    <span class="glyphicon glyphicon-ok"></span>
                </a>
            </div>

        </div>
    </nav>
    <div class="container-fluid">
        <div  ng-show="model.updateErrorMessage" class="alert alert-danger">
            {{model.updateErrorMessage}}
        </div>
        <div  ng-show="model.updateSuccessMessage" class="alert alert-success">
            {{model.updateSuccessMessage}}
        </div>
        <label for="username">Username</label>
        <input name = "username"
               ng-model = "model.user.username"
               value = "username"
               readonly
               placeholder="username"
               class = "form-control"
               id = "username"/>

        <label for="email">Email</label>
        <input name = "password"
               value = "samicheen@gmail.com"
               placeholder="samicheen@gmail.com"
               type = "email"
               class = "form-control"
               id = "email"/>

        <label for="firstname">First Name</label>
        <input name = "firstname"
               ng-model="model.user.firstName"
               placeholder="Samicheen"
               class = "form-control"
               id = "firstname"/>

        <label for="lastname">Last Name</label>
        <input name = "lastname"
               ng-model = "model.user.lastName"
               placeholder="Khariwal"
               class = "form-control"
               id = "lastname"/>

        <a class="btn btn-default btn-block btn-primary"
           href="#!/user/{{model.user._id}}/website"
           role="button">Websites</a>

        <a class="btn btn-default btn-block btn-primary"
           ng-click="model.updateUser(model.user)"
           role="button">Update</a>

        <a class="btn btn-default btn-block btn-danger"
           ng-click="model.unregisterUser(model.user._id)"
           role="button">Unregister</a>

        <a class="btn btn-default btn-block btn-danger"
           href="#!/login"
           role="button">Logout</a>
    </div>
    <div ng-include="'common/footer.view.client.html'"></div>
</div>