<label for="name">Name</label>
<input name = "name"
       ng-model="model.widget.name"
       placeholder="Image"
       class = "form-control"
       id = "name"/>

<label for="text">Text</label>
<input name = "text"
       ng-model="model.widget.text"
       placeholder="This is Apple Headquaters"
       class = "form-control"
       id = "text"/>

<label for="url">URL</label>
<input name = "url"
       ng-model="model.widget.url"
       placeholder="https://fortunedotcom.files.wordpress.com/2015/03/o-applecampus-facebook.jpg"
       class = "form-control"
       id = "url"/>

<label for="width">Width</label>
<input name = "width"
       ng-model="model.widget.width"
       placeholder="100%"
       class = "form-control"
       id = "width"/>

<form action="/api/assignment/uploads"   method="post" enctype="multipart/form-data">
    <input  name="myFile"    type="file" class="form-control" required="required"/>
    <input  name="name"     value="{{model.widget.name}}" style="display: none"/>
    <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
    <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
    <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
    <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
    <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
    <button type="submit" id="upload" class="btn btn-block btn-primary">Upload Image</button>
</form>

<a class="btn btn-default btn-block btn-primary"
   id = "search"
   href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widget._id}}/search"
   role="button">Search</a>


