<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link"
               href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-header col-xs-8">
            <a class="navbar-brand" href="#">{{model.widget.widgetType}} Editor</a>
        </div>

        <div class="navbar-text pull-right">
            <a class="navbar-link" ng-click="model.updateWidget(model.widget)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>
<div class="row">
    <div class="col-xs-3 visible-lg split-view-left">
        <div class="container-fluid">
            <div ng-repeat="widget in model.widgets" class="wd-widget">
                <div class="wd-widget-toolbar">
                    <a href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                        <span class="glyphicon glyphicon-cog"></span>
                    </a>
                    <span class="glyphicon glyphicon-align-justify"></span>
                </div>
                <div ng-include="model.getIncludePath(widget)"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-9 split-view-right">
        <div class="container-fluid">
            <div ng-include="model.getEditPath(model.widget)"></div>

            <a class="btn btn-default btn-block btn-danger"
               ng-click="model.deleteWidget(model.widget._id)"
               role="button">Delete</a>

            <a class="btn btn-default btn-block btn-danger"
               href="#!/website/{{model.websiteId}}/page/{{model.pageId}}/widget"
               role="button">Cancel</a>
        </div>
    </div>
</div>
<div ng-include="'views/common/footer.view.client.html'"></div>