<div class="container-fluid">
    <label for="name">Name</label>
    <input name = "name"
           ng-model = "model.widget.name"
           placeholder="main heading"
           class = "form-control"
           id = "name"/>

    <label for="text">HTML Text</label>
    <textarea name = "text"
              ng-model = "model.widget.text"
              rows="5"
              placeholder="Apple Inc."
              class = "form-control"
              id = "text"></textarea>

    <a class="btn btn-default btn-block btn-danger"
       ng-click="model.deleteWidget(model.widget._id)"
       role="button">Delete</a>
</div>