<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="navbar-link" href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-header col-xs-6">
            <a class="navbar-brand" href="#">New Page</a>
        </div>

        <div class="navbar-text pull-right">
            <a class="navbar-link" ng-click="model.createPage(page)">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3 visible-lg split-view-left">
            <ul class="list-group">
                <li class="list-group-item active">
                    <div class="row">
                        <div class="col-xs-10">Name</div>
                        <div class="col-xs-2">
                            <a class="navbar-link"
                               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                                <span class="pull-right glyphicon glyphicon-plus" />
                            </a>
                        </div>
                    </div>
                </li>
                <li ng-repeat="page in model.pages" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-10">
                            <a class="navbar-link cog"
                               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}/widget">
                                {{page.name}}
                            </a>
                        </div>
                        <div class="col-xs-2">
                            <a class="navbar-link cog"
                               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{page._id}}">
                                <span class="pull-right glyphicon glyphicon-cog" />
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-lg-9 split-view-right">
            <label for="name">Name</label>
            <input name = "name"
                   ng-model="page.name"
                   placeholder="Page Name"
                   class = "form-control"
                   id = "name"/>

            <label for="title">Title</label>
            <input name = "title"
                   ng-model="page.description"
                   placeholder="Page Title"
                   class = "form-control"
                   id = "title"/>

            <a class="btn btn-default btn-block btn-primary"
               ng-click="model.createPage(page)"
               role="button">Create</a>

            <a class="btn btn-default btn-block btn-danger"
               href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page"
               role="button">Cancel</a>
        </div>
    </div>
</div>
<div ng-include="'views/common/footer.view.client.html'"></div>